@{
    ViewData["Title"] = "Groups";
}

<h1>All Groups:</h1>

<ol>
@foreach (Group element in Model)
{
  <li> <a href="/Groups/Details/@(element.GroupId)"><strong>@element.GroupName</strong> </a>
  <ul>
  
  @foreach (Message item in element.Messages)
  {
    <li>@item.MessageText</li>
  }
  </ul>
  </li>
}
</ol>